@model List<StokTakip_Deneme_.Models.Entity.Kategoriler>
@using StokTakip_Deneme_.Models.Entity


@{
    ViewBag.Title = "Kategoriler Listesi ";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f0f0f0;
        }

        .div {
            background-color: #e0e0e0;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    
    <div class="container">
        <h2>@ViewBag.Title</h2>

        @foreach (var item in Model)
        {
         
            <div class="div">
                <tr>
                    <p>
                    <b>ID</b>
                    @item.ID</p>
                    <p>
                    <b>Kategori</b>
                    @item.Kategori</p>
                    <p>
                    <b>Açıklama</b>
                    @item.Aciklama</p>
                    <th><a href="/Kategoriler/SilBilgiGetir/@item.ID" class="btn btn-danger">Sil</a></th>
                    <th><a href="/Kategoriler/GuncelleBilgiGetir/@item.ID" class="btn btn-warning">Güncelle</a></th>
                </tr>
            </div>
        }
        @if (User.IsInRole("ceo") || User.IsInRole("personel"))
        {

            <div style="width: 250px;">
                <a href="/Kategoriler/Ekle" class="btn btn-success" style="margin-top: 10px;">Kategori Ekle</a>
            </div>
        }
    </div>

</body>
</html>

